@page "/learnblazor/parentcomponent"

<h3>Parent Component</h3>

<CascadingValue Value="@_messageForGrandchild" Name="MessageForGrandchild">
    <CascadingValue Value="@_randomNumber" Name="RandomNumber">
        <_ChildComponent OnButtonClick="ShowMessage"
                         Title="This title is passed as a parameter from parent component.">
            Some text between the tags frm parent component.
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@messageText</p>

@code {

    private string _messageForGrandchild = "This message is passed from parent component to the grand child.";
    private int _randomNumber = 7;

    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked.";
    }
}
