<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand child component</h4>
    <p>@MessageForGrandchild</p>
</div>

@code {
    [Parameter]
    public string MessageForGrandchild { get; set; }
}
